.PlaylistItem {
  @apply flex justify-between gap-3 mb-5 relative cursor-pointer transition-all duration-500 ease-in-out;
  div:nth-child(2) {
    @apply pb-6 w-full;
    word-break: break-all;
    .h1 {
      @apply text-white font-bold text-sm;
      line-height: 17px;
    }
    .span {
      @apply font-normal block my-2;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
      line-height: 12px;
    }
    .p {
      @apply line-clamp-3;
      color: rgba(255, 255, 255, 0.5);
      font-size: 10px;
      line-height: 12px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 98%;
    border-bottom: 2px solid rgba(132, 132, 132, 0.1);
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}
