.SearchInput {
  .SearchInput__Inner {
    @apply relative;
    input {
      @apply block w-full text-sm text-gray-900 rounded bg-secondary h-9 p-5 transition-all duration-500 ease-in-out hover:opacity-80;
      color: rgba(255, 255, 255, 0.6);
      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
      &:focus {
        @apply opacity-80;
        outline: none;
        filter: drop-shadow(0 0 0.3rem #cc8d456d);
      }
    }
    .SearchInput__Icon {
      @apply absolute inset-y-0 right-0 flex items-center mr-5;
    }
  }
  .SearchInput__Items {
    @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-secondary py-1 text-base shadow-lg focus:outline-none;
    .SearchInput__Box {
      @apply relative cursor-default select-none py-2 px-4 text-[#ffffff99] text-sm;
    }
    .SearchInput__Option {
      @apply relative cursor-default select-none py-2 px-5 text-[#ffffff99] text-sm hover:bg-[#3F3F42];
    }
  }
}
